
@{
    ViewData["Title"] = "UserNotFoundException";
}

<div class="card" style="margin-top: 4rem; padding-top: 4rem; min-height: 15rem; border-radius: 10px; ">
    <div class="text-center container">
        <h1 class="display-4">This user can't be found</h1>
        <p>It doesn't look like the user you're searching for exists. <a asp-area="" asp-controller="Home" asp-action="Index">Click here</a> to search for another user</p>
    </div>
</div>